main{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 36px 0;
    background-color: #f0a038;
    .container{
        display: flex;
        flex-direction: column;
        .embed{
            display: flex;
            width: 100%;
            height: 1500px;
        }    
        span{
            display: flex;
            padding: 50px 0;
        }
    }
}